.vscode/**
**/*.swp
build/**
**/tmp
src/**/__*
docs/latex
docs/_build
docs/xml
docs/class
docs/file
test/test_main.c
**/*.raw
**/__pycache__
hiemal.egg-info/**
dist/**
**/*.code-workspace
**/_local
**/*.old.*
